
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
padding: 0 10px;
min-height: 100vh;
align-items: center; 
background: orangered;
}

nav{
  display: grid;
  align-items: center;
}

.wrapper{
  display: grid;
  place-content: center;
  margin-top: 100px;
  border-radius: 20px;
  background: rgb(61, 125, 244);
  padding: 20px 25px 0;
  transition: height 1s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
  height: 530px;
}
.wrapper form{
  margin-bottom: 20px;
  height: 210px;
  display: flex;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 7px;
  background: #fff;
  align-items: center;
  justify-content: center;
  transition: height 0.2s ease;
}
.wrapper.active form{
  height: 225px;
}

form img{
  display: none;
  max-width: 148px;
}
.wrapper.active form img{
  display: block;
}
.wrapper.active form .content{
  display: none;
}
form .content i{
  color:orangered;
  padding: 5px;
  font-size: 55px;
}
form .content p{
  color: orangered;
  padding: 20px;
  margin-top: 15px;
  font-size: 16px;
}
.wrapper .details{
  display: none;
  opacity: 0;
  margin-top: 25px;
  pointer-events: none;
}
.wrapper.active .details{
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.details textarea{
  width: auto;
  height: auto;
  outline: none;
  resize: none;
  color: #fff;
  font-size: 18px;
  background: none;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid #fff;
}
textarea::-webkit-scrollbar{
  width: 0px;
}
textarea:hover::-webkit-scrollbar{
  width: 5px;
}
textarea:hover::-webkit-scrollbar-track{
  background: none;
}
textarea:hover::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 8px;
}
.details .buttons{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.buttons button{
  height: 55px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #0B85FF;
  border-radius: 5px;
  background: #fff;
  transition: transform 0.3s ease;
  width: calc(100% / 2 - 10px);
}
.buttons button:active{
  transform: scale(0.95);
}

@media (max-width: 430px) {
  .wrapper{
    padding: 16px 20px;
    height: 255px;
  }
  .wrapper.active{
    height: 510px;
  }
}


.bottom{
  display: grid;
 justify-content: right;
 margin-block: auto;
 margin-top: 20px;
}

.bottom button{
 cursor: pointer;
 width: 4cm;
 height: 1cm;
 border-radius: 0.5cm;
 background-color: yellow;
}

nav {  
  background-color:black; 
  position: fixed;  
  left: 0;  
  right: 0;  
  top: 5px;  
  height: 1.5cm;  
  display: flex;  
  align-items: center;  
  box-shadow: 0 0 25px 0 black; 
  border-radius: 1cm;
  }  
    
 
  nav li h1{  
  color: blue;  
  padding-left: 2cm;
  font-size:larger;
  
  } 
  